<section class="home" id="home">
  <div class="home-content">
    <h1>Falá meu nobre, aqui é o <span>Guilherme</span></h1>
    <h3 class="text-animation">Eu sou <span></span></h3>
    <p>Desenvolvedor no Distrito Federal, com início na área de TI em 2023. Com uma abordagem dinâmica e focada,
      especializei-me em Angular para impulsionar minha carreira em desenvolvimento. Atualmente, Sem experiência
      profissional. No entanto, realizou cursos e afins, bem como possui interesse, disponibilidade e proatividade para
      executar quaisquer tarefas que forem delegadas.</p>
    <div class="social-icons">
      <a href="https://www.linkedin.com/in/guilherme-bertoldo-197a08337/" target="_blank"><i
          class='bx bxl-linkedin'></i></a>
      <a href="https://github.com/FreyRin" target="_blank"><i class='bx bxl-github'></i></a>
      <a href=""><i class='bx bxl-instagram-alt'></i></a>
    </div>
    <div class="btn-group">
      <a href="../../../assets/pdfs/Guilherme Bertoldo Pereira - Curriculo  - Final.pdf" class="btn"
        download="">Curriculo</a>
      <a href="#contact" class="btn">Contate-me</a>
    </div>
  </div>
  <div class="home-img">
    <img src="../../../assets/images/Aokiji.1.jpg" alt="Imagem Meramente Ilustrativa da Foto de Perfil.">
  </div>
</section>
